body {
  padding-top: 61px;  /* Move body of page below navbar. */
}

h1 {
  font-family: 'Pacifico', cursive;
}

.ui.top.fixed.borderless.inverted.menu {
  background-color: rgba(33, 35, 48, 0.47);
}

a {
  color: mintcream;
}